.btn {
    padding: 8px 2rem;
    border-radius: var(--border-trendy);
}

.button-theme {
    position: relative;
    padding: 8px 2rem;
    color: var(--btn-color);
    background-image: linear-gradient(to bottom, #fbc20b, #fc9632);
    border-radius: var(--border-trendy);
}

.button-theme::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 70%;
    height: 50%;
    box-shadow: 0 20px 30px #fc9632;
    z-index: -1;
}

.button-theme:hover::after {
    box-shadow: 0 20px 40px #fc9632;
}

/* display */
.flex { display: flex }
.flex-between { justify-content: space-between }
.items-center { align-items: center }